server:
  tomcat:
    remote_ip_header: x-forwarded-for
    protocol_header: x-forwarded-proto

spring:
  jpa:
    hibernate:
      ddl-auto: create
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
  h2:
    console:
      enabled: true
okta:
  oauth2:
    issuer: <your okta url>/oauth2/default
    clientId: <your okta oidc client id>
    clientSecret: <your okta oidc client secret>
    audience: api://default
  hooks:
    id: me@example.com
    password: whatevs
    basicAuth: bWVAZXhhbXBsZS5jb206d2hhdGV2cw==